.goods {
  margin-top: 32px;
  &-wrapper {
    margin-top: 34px;
    display: flex;
    align-items: flex-start;
  }
  &-filter {
    // width: 326px;
    //display: none;
    border: 1px solid var(--container-border-color);
    border-radius: 5px;
    margin-right: 40px;
    box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.25);
  }
  &-search {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border: 1px solid var(--container-border-color);
    border-radius: 5px;
    box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.25);
    &_icon {
      margin-left: 23px;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
    &_input {
      margin-left: 25px;
      margin-right: 10px;
      width: 82%;
      border: none;
      font-size: 18px;
      font-weight: 400;
      color: var(--border-color);
      outline: none;
    }
    &_filter {
      margin-right: 13px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
      }
    }
    &_settings {
      margin-right: 10px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
      }
    }
  }
  &-store {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //margin-top: 34px;
  }
  &-item {
    cursor: pointer;
    border: 1px solid var(--container-border-color);
    border-radius: 10px;
    width: 30%;
    box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.25);
    margin-bottom: 50px;
  }
}
.top {
  &-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_like {
      align-self: flex-end;
      width: 24px;
      height: 24px;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
    &_img {
      position: relative;
      bottom: 20px;
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
    &_title {
      color: var(--dark-color);
      font-weight: 700;
      line-height: 28px;
      margin-top: 13px;
    }
    &_status {
      font-size: 14px;
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 3px;
      line-height: 16px;
      color: var(--border-color);
      &::before {
        content: '';
        width: 24px;
        height: 24px;
        border: 2px solid var(--stock-status-color);
        border-radius: 50%;
      }
    }
    &_price {
      font-size: 14px;
      margin-top: 4px;
      line-height: 16px;
      color: var(--border-color);
    }
    &_btn {
      margin-top: 8px;
    }
  }
}

.status {
  font-size: 14px;
  &-img {
    position: absolute;
    width: 24px;
    height: 24px;
  }
  &-quantity {
    font-weight: 600;
    margin: 0 4px;
  }
}

.price {
  font-size: 14px;
  &-sum {
    font-weight: 700;
  }
}

.bottom {
  &-item {
    padding: 19px 13px 29px 13px;
    margin-top: 14px;
    background-color: var(--items-bg);
    display: flex;
    font-size: 14px;
    line-height: 16px;
    border-radius: 0 0 10px 10px;
    color: var(--stock-text-color);
    &_filledlike {
      width: 20px;
      height: 20px;
    }
    &_reviews {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      margin-left: 11px;
      width: 100%;
    }
    &_order {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  }
}

.reviews {
  font-size: 14px;
  &-percent {
    span {
      font-weight: 700;
      margin-right: 5px;
    }
  }
}

.order {
  font-size: 14px;
  &-quantity {
    font-weight: 700;
  }
}

//------- filter ------------------------------

.filter {
  &-title {
    color: var(--dark-color);
    width: 100%;
    background-color: var(--filter-bg);
    padding: 17px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s linear;
    border-bottom: .5px solid var(--btn-color-focus);
    &:first-child {
      border-radius: 5px 5px 0 0;
    }
    &:last-child {
      border-radius: 5px 5px 0 0;
    }
    &:after {
      font-family: FontAwesome;
      content: "\f054";
      font-size: 14px;
    }
    &:hover{
      background-color: var(--filter-bg);
    }
    &.is-open {
      // padding: 17px 30px 9px 30px;
      background-color: var(--light-color);
      &::after {
        content: "\f078";
      }
    }
  }
  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    &_divider {
      background-color: var(--btn-color-focus);
      height: .5px;
    }
  }
}

.content-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px 25px 40px;
}

.price-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  &_label {
    display: contents;
  }
  &_input {
    margin-left: 20px;
    width: 190px;
    font-size: 18px;
    color: var(--dark-color);
    padding: 8px 0;
    text-align: center;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
  }
}

.content-color{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 23px 10px 28px 30px;
  padding-left: 30px;
}

.color-inner {
  width: 50%;
  margin-top: 10px;
}

.content-memory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 23px 10px 28px 30px;
  padding-left: 30px;
}

.memory-inner {
  width: 50%;
  margin-top: 10px;
}

.content-os {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 23px 10px 28px 30px;
  padding-left: 30px;
}

.os-inner {
  margin-top: 10px;
}

.content-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 23px 10px 28px 30px;
  padding-left: 30px;
}

.display-inner {
  margin-top: 10px;
}
