@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --font-family: "Roboto", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-border-color: #DDDADA;
  --stock-status-color: #1BC943;
  --stock-text-color: #3B3E66;
  --border-color: #767272;
  --dark-color: #000;
  --light-color: #fff;
  --accent-color: #34547A;
  --btn-color: #0E49B5;
  --btn-color-focus: #dddddd;
  --check-status-false: #F05454;
  --items-bg: #DAE2EA;
  --filter-bg: #EDF3FF;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  padding: 14px 25px;
  font-weight: 400;
  background: var(--btn-color);
  display: block;
  font-size: 20px;
  cursor: pointer;
  color: var(--light-color);
  text-align: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  border-radius: 5px;
  border: none;
}
.btn:hover {
  background-color: var(--btn-color-focus);
  -webkit-filter: drop-shadow(2px 4px 6px var(--accent-color));
  filter: drop-shadow(2px 4px 6px var(--accent-color));
}
.btn_search {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: var(--btn-color);
  border-radius: 50%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.title {
  font-weight: 400;
  color: var(--light-color);
  margin: 0;
}
.title_fz72 {
  font-size: 72px;
}
.title_fz24 {
  font-size: 24px;
}
.title_fz18 {
  font-size: 18px;
}

.filter-checkbox {
  opacity: 0;
  position: relative;
  right: 28px;
  width: 15px;
  height: 15px;
}
.filter-checkbox:checked {
  opacity: 1;
}

.filter-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid var(--filter-bg);
  margin-right: 10px;
  background-color: var(--btn-color-focus);
}

.offer-slider_counter {
  position: relative;
}
.offer-slider_prev {
  background-color: inherit;
  width: 100px;
  height: 500px;
  cursor: pointer;
  position: absolute;
}
.offer-slider_prev:hover {
  background-color: var(--light-color);
  opacity: 0.2;
}
.offer-slider_next {
  background-color: inherit;
  width: 100px;
  height: 500px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: calc(100% - 100px);
}
.offer-slider_next:hover {
  background-color: var(--light-color);
  opacity: 0.2;
}

.title-modify {
  color: var(--dark-color);
}

.header-top {
  padding: 0 10px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-top_logo {
  cursor: pointer;
}
.header-top_cart {
  cursor: pointer;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}
.header-top_cart img {
  height: 20px;
  width: 20px;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.header-bottom {
  position: relative;
}
.header-bottom_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header-bottom_btn {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header-bottom_img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: fill;
  object-fit: fill;
}

.goods {
  margin-top: 32px;
}
.goods-wrapper {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.goods-filter {
  border: 1px solid var(--container-border-color);
  border-radius: 5px;
  margin-right: 40px;
  -webkit-box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
}
.goods-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid var(--container-border-color);
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
}
.goods-search_icon {
  margin-left: 23px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.goods-search_input {
  margin-left: 25px;
  margin-right: 10px;
  width: 82%;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--border-color);
  outline: none;
}
.goods-search_filter {
  margin-right: 13px;
}
.goods-search_filter img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}
.goods-search_settings {
  margin-right: 10px;
}
.goods-search_settings img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}
.goods-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.goods-item {
  border: 1px solid var(--container-border-color);
  border-radius: 10px;
  width: 30%;
  -webkit-box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.top-item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.top-item_like {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.top-item_img {
  cursor: pointer;
  position: relative;
  bottom: 20px;
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
}
.top-item_title {
  color: var(--dark-color);
  font-weight: 700;
  line-height: 28px;
  margin-top: 13px;
}
.top-item_status {
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3px;
  line-height: 16px;
  color: var(--border-color);
}
.top-item_status::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 2px solid var(--stock-status-color);
  border-radius: 50%;
}
.top-item_price {
  font-size: 14px;
  margin-top: 4px;
  line-height: 16px;
  color: var(--border-color);
}
.top-item_btn {
  margin-top: 8px;
}

.status {
  font-size: 14px;
}
.status-img {
  position: absolute;
  width: 24px;
  height: 24px;
}
.status-quantity {
  font-weight: 600;
  margin: 0 4px;
}

.price {
  font-size: 14px;
}
.price-sum {
  font-weight: 700;
}

.bottom-item {
  padding: 19px 13px 29px 13px;
  margin-top: 14px;
  background-color: var(--items-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  border-radius: 0 0 10px 10px;
  color: var(--stock-text-color);
}
.bottom-item_filledlike {
  width: 20px;
  height: 20px;
}
.bottom-item_reviews {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 11px;
  width: 100%;
}
.bottom-item_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reviews {
  font-size: 14px;
}
.reviews-percent span {
  font-weight: 700;
  margin-right: 5px;
}

.order {
  font-size: 14px;
}
.order-quantity {
  font-weight: 700;
}

.filter-title {
  color: var(--dark-color);
  width: 100%;
  background-color: var(--filter-bg);
  padding: 17px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  border-bottom: 0.5px solid var(--btn-color-focus);
}
.filter-title:first-child {
  border-radius: 5px 5px 0 0;
}
.filter-title:last-child {
  border-radius: 5px 5px 0 0;
}
.filter-title:after {
  font-family: FontAwesome;
  content: "\f054";
  font-size: 14px;
}
.filter-title:hover {
  background-color: var(--filter-bg);
}
.filter-title.is-open {
  background-color: var(--light-color);
}
.filter-title.is-open::after {
  content: "\f078";
}
.filter-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-in-out;
  -o-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
}
.filter-content_divider {
  background-color: var(--btn-color-focus);
  height: 0.5px;
}

.content-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 24px 25px 40px;
}

.price-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px;
}
.price-inner_label {
  display: contents;
}
.price-inner_input {
  margin-left: 20px;
  width: 190px;
  font-size: 18px;
  color: var(--dark-color);
  padding: 8px 0;
  text-align: center;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
}

.content-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 23px 10px 28px 30px;
  padding-left: 30px;
}

.color-inner {
  width: 50%;
  margin-top: 10px;
}

.content-memory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 23px 10px 28px 30px;
  padding-left: 30px;
}

.memory-inner {
  width: 50%;
  margin-top: 10px;
}

.content-os {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 23px 10px 28px 30px;
  padding-left: 30px;
}

.os-inner {
  margin-top: 10px;
}

.content-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 23px 10px 28px 30px;
  padding-left: 30px;
}

.display-inner {
  margin-top: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 10%;
  padding: 0 28px;
  background-color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow-y: auto;
}
.modal-content_left {
  width: 25%;
}
.modal-content_img {
  width: 250px;
  height: 250px;
}
.modal-content_center {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
.modal-content_descr {
  padding: 35px 75px;
}
.modal-content_right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--stock-text-color);
}
.modal-content_price {
  font-size: 36px;
}
.modal-content_quantity {
  font-weight: 400;
  margin-top: 23px;
}
.modal-content_quantity span {
  font-weight: 700;
}
.modal-content_btn {
  margin-top: 31px;
}

.descr-title {
  color: var(--dark-color);
  margin: 0;
}
.descr-item {
  width: 300px;
  border-radius: 5px;
  margin-top: 21px;
}
.descr-item_above {
  margin-top: 6px;
}
.descr-list {
  list-style: none;
  margin-top: 16px;
  padding: 0;
  color: var(--border-color);
}
.descr-list span {
  color: var(--dark-color);
}
.descr-list_item {
  margin-bottom: 15px;
}
.descr-list_item:last-child {
  margin-bottom: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */