<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Роман Будай">
  <link rel="apple-touch-icon" sizes="180x180" href="/src/resources/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/src/resources/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/src/resources/favicon-16x16.png">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>MacOutlet</title>
  <meta name="description" content="Портфолио создание магазина">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
