<div class="cart hide">
  <div class="container cart-container">
    <div class="cart-top">
      <h2 class="top-title title_fz24">Shopping Cart</h2>
      <span class="top-descr">Checkout is almost done!</span>
    </div>

    <div class="cart-item">

    </div>

    <div class="cart-bottom">
      <div class="bottom-total">
        <!-- <span class="bottom-total_left">Total amount: <span>0 pts.</span></span>
        <span class="bottom-total_right">Total price: <span>0 $</span></span> -->
      </div>
      <div class="bottom-btn">
        <button class="bottom-btn_buy btn">Buy</button>
      </div>
    </div>
  </div>
</div>
