<section class="goods">
  <div class="container">
    <div class="goods-search">
      <div class="goods-search_icon">
        <img src="img/svg/search.svg" alt="search user">
      </div>
      <input class="goods-search_input" type="search" placeholder="Enter device name...">
      <div class="goods-search_filter btn_search">
        <img class="goods-filter_img" src="img/svg/filter.svg " alt="filter icon">
      </div>
      <div class="goods-search_settings btn_search">
        <img class="goods-settings_img" src="img/svg/settings.svg" alt="settings icon">
      </div>
    </div>

    <section class="goods-wrapper">
      <aside class="goods-filter hide">
        <h2 class="filter-title title title_fz18">Price</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="content-price">
            <div class="price-inner">
              <label  class="price-inner_label">From
                <input class="price-inner_input" type="number" placeholder="350">
              </label>
            </div>
            <div class="price-inner">
              <label class="price-inner_label">To
                <input class="price-inner_input" type="number" placeholder="1350">
              </label>
            </div>
          </div>
        </div>

        <h2 class="filter-title title title_fz18">Color</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="content-color">
            <div class="color-inner">
              <label class="color-inner_label filter-label"><input type="checkbox" class="color-inner_checkbox filter-checkbox">Red</label>
            </div>
            <div class="color-inner">
              <label class="color-inner_label filter-label"><input type="checkbox" class="color-inner_checkbox filter-checkbox">Green</label>
            </div>
            <div class="color-inner">
              <label class="color-inner_label filter-label"><input type="checkbox" class="color-inner_checkbox filter-checkbox">Black</label>
            </div>
            <div class="color-inner">
              <label class="color-inner_label filter-label"><input type="checkbox" class="color-inner_checkbox filter-checkbox">White</label>
            </div>
            <div class="color-inner">
              <label class="color-inner_label filter-label"><input type="checkbox" class="color-inner_checkbox filter-checkbox">Blue</label>
            </div>
            <div class="color-inner">
              <label class="color-inner_label filter-label"><input type="checkbox" class="color-inner_checkbox filter-checkbox">Grey</label>
            </div>
            <div class="color-inner">
              <label class="color-inner_label filter-label"><input type="checkbox" class="color-inner_checkbox filter-checkbox">Gold</label>
            </div>
            <div class="color-inner">
              <label class="color-inner_label filter-label"><input type="checkbox" class="color-inner_checkbox filter-checkbox">Yelow</label>
            </div>
          </div>
        </div>

        <h2 class="filter-title title title_fz18">Memory</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="content-memory">
            <div class="memory-inner">
              <label class="memory-inner_label filter-label"><input type="checkbox" class="memory-inner_checkbox filter-checkbox">32 Gb</label>
            </div>
            <div class="memory-inner">
              <label class="memory-inner_label filter-label"><input type="checkbox" class="memory-inner_checkbox filter-checkbox">512 Gb</label>
            </div>
            <div class="memory-inner">
              <label class="memory-inner_label filter-label"><input type="checkbox" class="memory-inner_checkbox filter-checkbox">64 Gb</label>
            </div>
            <div class="memory-inner">
              <label class="memory-inner_label filter-label"><input type="checkbox" class="memory-inner_checkbox filter-checkbox">1 Tb</label>
            </div>
            <div class="memory-inner">
              <label class="memory-inner_label filter-label"><input type="checkbox" class="memory-inner_checkbox filter-checkbox">128 Gb</label>
            </div>
            <div class="memory-inner">
              <label class="memory-inner_label filter-label"><input type="checkbox" class="memory-inner_checkbox filter-checkbox">2 Tb</label>
            </div>
            <div class="memory-inner">
              <label class="memory-inner_label filter-label"><input type="checkbox" class="memory-inner_checkbox filter-checkbox">256 Gb</label>
            </div>
            <div class="memory-inner">
              <label class="memory-inner_label filter-label"><input type="checkbox" class="memory-inner_checkbox filter-checkbox">4 Tb</label>
            </div>
          </div>
        </div>

        <h2 class="filter-title title title_fz18">OS</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="content-os">
            <div class="os-inner">
              <label class="os-inner_label filter-label"><input type="checkbox" class="os-inner_checkbox filter-checkbox">IOS</label>
            </div>
            <div class="os-inner">
              <label class="os-inner_label filter-label"><input type="checkbox" class="os-inner_checkbox filter-checkbox">Mac OS</label>
            </div>
            <div class="os-inner">
              <label class="os-inner_label filter-label"><input type="checkbox" class="os-inner_checkbox filter-checkbox">tvOS</label>
            </div>
            <div class="os-inner">
              <label class="os-inner_label filter-label"><input type="checkbox" class="os-inner_checkbox filter-checkbox">Watch OS</label>
            </div>
          </div>
        </div>

        <h2 class="filter-title title title_fz18">Display</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="content-display">
            <div class="display-inner">
              <label class="display-inner_label filter-label"><input type="checkbox" class="display-inner_checkbox filter-checkbox">2 - 5 inch</label>
            </div>
            <div class="display-inner">
              <label class="display-inner_label filter-label"><input type="checkbox" class="display-inner_checkbox filter-checkbox">5 - 7 inch</label>
            </div>
            <div class="display-inner">
              <label class="display-inner_label filter-label"><input type="checkbox" class="display-inner_checkbox filter-checkbox">7 - 12 inch</label>
            </div>
            <div class="display-inner">
              <label class="display-inner_label filter-label"><input type="checkbox" class="display-inner_checkbox filter-checkbox">12 - 16 inch</label>
            </div>
            <div class="display-inner">
              <label class="display-inner_label filter-label"><input type="checkbox" class="display-inner_checkbox filter-checkbox">+ 16 inch</label>
            </div>
          </div>
        </div>
      </aside>

      <div class="goods-store">

      </div>
    </section>
  </div>
</section>
