<section class="goods">
  <div class="container">
    <div class="goods-search">
      <div class="goods-search_icon">
        <img src="img/svg/search.svg" alt="search user">
      </div>
      <input class="goods-search_input" type="search" placeholder="Enter device name...">
      <div class="goods-search_filter btn_search">
        <img class="goods-filter_img" src="img/svg/filter.svg " alt="filter icon">
      </div>
      <div class="goods-search_settings btn_search">
        <img class="goods-settings_img" src="img/svg/settings.svg" alt="settings icon">
      </div>
    </div>

    <div class="goods-store">

    </div>
  </div>
</section>
