<section class="goods">
  <div class="container">
    <div class="goods-search">
      <div class="goods-search_icon">
        <img src="img/svg/search.svg" alt="search user">
      </div>
      <input class="goods-search_input" type="search" placeholder="Enter device name...">
      <div class="goods-search_filter btn_search">
        <img class="goods-filter_img" src="img/svg/filter.svg " alt="filter icon">
      </div>
      <div class="goods-search_settings btn_search">
        <img class="goods-settings_img" src="img/svg/settings.svg" alt="settings icon">
      </div>
    </div>

    <section class="goods-wrapper">
      <aside class="goods-filter">
        <h2 class="filter-title title title_fz18">Price</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="price">
            <div class="price-form">
              <label for="price-from" class="price-form_label">From</label>
                <input id="price-from" class="price-form_input" type="number" placeholder="350">
            </div>
            <div class="price-form">
              <label for="price-to" class="price-form_label">To</label>
                <input id="price-to" class="price-form_input" type="number" placeholder="1350">
            </div>
          </div>
        </div>

        <h2 class="filter-title title title_fz18">Color</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="color">
            <div class="color-form">
              <input type="checkbox" id="color-red" name="color-form_checkbox">
              <label for="color-red">Red</label>
            </div>
            <div class="color-form">
              <input type="checkbox" id="color-green" name="color-form_checkbox">
              <label for="color-green">Green</label>
            </div>
            <div class="color-form">
              <input type="checkbox" id="color-black" name="color-form_checkbox">
              <label for="color-black">Black</label>
            </div>
            <div class="color-form">
              <input type="checkbox" id="color-white" name="color-form_checkbox">
              <label for="color-white">White</label>
            </div>
            <div class="color-form">
              <input type="checkbox" id="color-blue" name="color-form_checkbox">
              <label for="color-blue">Blue</label>
            </div>
            <div class="color-form">
              <input type="checkbox" id="color-grey" name="color-form_checkbox">
              <label for="color-grey">Grey</label>
            </div>
            <div class="color-form">
              <input type="checkbox" id="color-gold" name="color-form_checkbox">
              <label for="color-gold">Gold</label>
            </div>
            <div class="color-form">
              <input type="checkbox" id="color-yelow" name="color-form_checkbox">
              <label for="color-yelow">Yelow</label>
            </div>
          </div>
        </div>

        <h2 class="filter-title title title_fz18">Memory</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="memory">
            <div class="memory-form">
              <input type="checkbox" id="memory-32" name="memory-form_checkbox">
              <label for="memory-32">32 Gb</label>
            </div>
            <div class="memory-form">
              <input type="checkbox" id="memory-512" name="memory-form_checkbox">
              <label for="memory-512">512 Gb</label>
            </div>
            <div class="memory-form">
              <input type="checkbox" id="memory-64" name="memory-form_checkbox">
              <label for="memory-64">64 Gb</label>
            </div>
            <div class="memory-form">
              <input type="checkbox" id="memory-1" name="memory-form_checkbox">
              <label for="memory-1">1 Tb</label>
            </div>
            <div class="memory-form">
              <input type="checkbox" id="memory-128" name="memory-form_checkbox">
              <label for="memory-128">128 Gb</label>
            </div>
            <div class="memory-form">
              <input type="checkbox" id="memory-2" name="memory-form_checkbox">
              <label for="memory-2">2 Tb</label>
            </div>
            <div class="memory-form">
              <input type="checkbox" id="memory-256" name="memory-form_checkbox">
              <label for="memory-256">256  Gb</label>
            </div>
            <div class="memory-form">
              <input type="checkbox" id="memory-4" name="memory-form_checkbox">
              <label for="memory-4">4 Gb</label>
            </div>
          </div>
        </div>

        <h2 class="filter-title title title_fz18">OS</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="os">
            <div class="os-form">
              <input type="checkbox" id="os-ios" name="os-form_checkbox">
              <label for="os-red">IOS</label>
            </div>
            <div class="os-form">
              <input type="checkbox" id="os-mac" name="os-form_checkbox">
              <label for="os-mac">Mac OS</label>
            </div>
            <div class="os-form">
              <input type="checkbox" id="os-tv" name="os-form_checkbox">
              <label for="os-tv">tvOS</label>
            </div>
            <div class="os-form">
              <input type="checkbox" id="os-watch" name="os-form_checkbox">
              <label for="os-watch">Watch OS</label>
            </div>
          </div>
        </div>

        <h2 class="filter-title title title_fz18">Display</h2>
        <div class="filter-content">
          <div class="filter-content_divider"></div>
          <div class="display">
            <div class="display-form">
              <input type="checkbox" id="display-i2_5" name="display-form_checkbox">
              <label for="display-i2_5">2 - 5 inch</label>
            </div>
            <div class="display-form">
              <input type="checkbox" id="display-i5_7" name="display-form_checkbox">
              <label for="display-i5_7">5 - 7 inch</label>
            </div>
            <div class="display-form">
              <input type="checkbox" id="display-i7_12" name="display-form_checkbox">
              <label for="display-i7_12">7 - 12 inch</label>
            </div>
            <div class="display-form">
              <input type="checkbox" id="display-i12_16" name="display-form_checkbox">
              <label for="display-i12_16">12 - 16 inch</label>
            </div>
            <div class="display-form">
              <input type="checkbox" id="display-i16+" name="display-form_checkbox">
              <label for="display-i16+">+ 16 inch</label>
            </div>
          </div>
        </div>

      </aside>

      <div class="goods-store">

      </div>
    </section>
  </div>
</section>
