<header class="header" id="header">
  <div class="container">
    <div class="header-top">
      <a class="header-top_logo" href="#">
        <img src="img/svg/logo.svg" alt="macOutlet logo">
      </a>

      <div class="header-top_cart">
        <img src="img/svg/cart.svg" alt="cart img">
      </div>
    </div>

    <div class="offer-slider header-bottom">
      <div class="offer-slider_counter">
        <!-- <div class="offer-slider_prev">
        </div>
        <div class="offer-slider_next">
        </div> -->
      </div>

      <div class="offer-slider_wrapper">
        <div class="offer_slide">
          <h1 class="title title_fz72 header-bottom_title">AirPods Pro</h1>
          <button class="btn header-bottom_btn">Add to cart</button>
          <img class="header-bottom_img" src="img/banners/airpods_pro_banner.png" alt="banner">
        </div>

        <div class="offer_slide">
          <h1 class="title title_fz72 header-bottom_title">AirPods Max</h1>
          <button class="btn header-bottom_btn">Add to cart</button>
          <img class="header-bottom_img" src="img/banners/air_pods_max_banner.jpg" alt="banner">
        </div>

        <div class="offer_slide">
          <h1 class="title title_fz72 header-bottom_title">Apple TV</h1>
          <button class="btn header-bottom_btn">Add to cart</button>
          <img class="header-bottom_img" src="img/banners/apple_tv_banner.png" alt="banner">
        </div>

        <div class="offer_slide">
          <h1 class="title title_fz72 header-bottom_title">Ipad Air</h1>
          <button class="btn header-bottom_btn">Add to cart</button>
          <img class="header-bottom_img" src="img/banners/ipad_air_banner.jpg" alt="banner">
        </div>

        <div class="offer_slide">
          <h1 class="title title_fz72 header-bottom_title">IPhone 12</h1>
          <button class="btn header-bottom_btn">Add to cart</button>
          <img class="header-bottom_img" src="img/banners/iphone_12_banner.jpg" alt="banner">
        </div>

        <div class="offer_slide">
          <h1 class="title title_fz72 header-bottom_title">Mac Book</h1>
          <button class="btn header-bottom_btn">Add to cart</button>
          <img class="header-bottom_img" src="img/banners/mac_book_banner.jpg" alt="banner">
        </div>

        <div class="offer_slide">
          <h1 class="title title_fz72 header-bottom_title">Apple Watch 4</h1>
          <button class="btn header-bottom_btn">Add to cart</button>
          <img class="header-bottom_img" src="img/banners/watch_banner.jpg" alt="banner">
        </div>
      </div>
    </div>
  </div>
</header>
