<div class="modal">
  <div class="container modal-container">
    <!-- <div class="modal-content fade">
      <div class="modal-content_left">
        <div class="modal-content_img">
          <img src="./img/${imgUrl}" alt="item img">
        </div>
      </div>

      <div class="modal-content_center">
        <div class="modal-content_descr">
          <h2 class="descr-title title_fz24">${name}</h2>
          <div class="descr-item bottom-item">
            <img class="descr-item_filledlike bottom-item_filledlike" loading="lazy" src="img/svg/like_filled_red.svg" alt="icon like filled">
            <div class="descr-item_reviews bottom-item_reviews">
              <span class="descr-item_percent reviews-percent"><span>${reviews}%</span>Positive reviews</span>
              <span class="descr-item_above reviews-above">Above avarage</span>
            </div>
            <div class="descr-item_order bottom-item_order">
              <span class="descr-item_quantity order-quantity">${orders}</span>orders
            </div>
          </div>

          <ul class="descr-list">
            <li class="descr-list_item">Color: <span>${color}</span></li>
            <li class="descr-list_item">Operating System: <span>${os}</span></li>
            <li class="descr-list_item">Chip: <span>${chip}</span></li>
            <li class="descr-list_item">Height: <span>${height}</span></li>
            <li class="descr-list_item">Width: <span>${width}</span></li>
            <li class="descr-list_item">Depth: <span>${depth}</span></li>
            <li class="descr-list_item">Weight: <span>${weight}</span></li>
          </ul>
        </div>
      </div>

      <div class="modal-content_right">
        <span class="modal-content_price price-sum">$ ${price}</span>
        <span class="modal-content_quantity status-quantity">Stock: <span>${inStock}</span> pcs.</span>
        <button class="modal-content_btn btn">Add to cart</button>
      </div>
    </div> -->
  </div>
</div>
