
:root {
  // base
  --font-family: 'Roboto', sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --container-border-color: #DDDADA;
  --stock-status-color: #1BC943;
  --stock-text-color: #3B3E66;
  --border-color: #767272;
  --dark-color: #000;
  --light-color: #fff;
  --accent-color: #34547A;
  --btn-color: #0E49B5;
  --btn-color-focus: #dddddd;
  --check-status-false: #F05454;
  --items-bg: #DAE2EA;
  --filter-bg: #EDF3FF;
}
